<div id="outer-grid">


  <div class="grid-item1">
    <img class="profile-image" src="{{user.photoUrl ? user.photoUrl : '../../../assets/user.png'}}" alt="{{user.firstName}}">
    
    <div >
        <button mat-button color="primary">Favorite</button>
    </div>
    <div class="btn-group">
        <button mat-button  class="btn btn-success"(click)="selectTab(3)">Message</button>
    </div>
  </div>

  <div class="grid-item2">
    <div>
      <h3 class="head">{{user.firstName}} {{user.lastName}}</h3>
    </div>
    <div>
      <p class="value">{{user.currentRole}}</p>
    </div>
    <div>
      <p class="value"> Department | </p>
    </div>
    <div>
      <p class="value"> Office Location | </p>
    </div>
    <div>
      <p class="value"> Employee since {{user.created | date : 'mediumDate'}}()</p>
    </div>
    <div>
      <p class="interest">{{user.introduction}}</p>
    </div>
  </div>

  <div class="grid-item3">
    <div>
      <span class="label">EMAIL</span>
      <p class="value">{{user.email}}</p>
      <mat-divider></mat-divider>
    </div>
    <div>
      <span class="label">Office</span>
      <p class="value">{{user.telephoneNumber}}, Extension: {{user.extension}}</p>
      <mat-divider></mat-divider>
    </div>
    <div>
      <span class="label">Cellular</span>
      <p class="value">{{user.cellular}}</p>
      <mat-divider></mat-divider>
    </div>
  </div>

  <div class="divider">
    <mat-divider></mat-divider>
  </div>





  <!-- <div class="grid-item4">
      <div>
        <span class="label">EMAIL</span>
        <p class="value">{{user.email}}</p>
        <mat-divider></mat-divider>
      </div>
      <div>
        <span class="label">Office</span>
        <p class="value">{{user.telephoneNumber}}, Extension: {{user.extension}}</p>
        <mat-divider></mat-divider>
      </div>
      <div>
        <span class="label">Cellular</span>
        <p class="value">{{user.cellular}}</p>
        <mat-divider></mat-divider>
      </div>
    </div> -->

  <div class="grid-item5">


    <mat-tab-group>
      <mat-tab label="General">
        <span class="label">first name:</span>
        <p class="value">{{user.firstName}}</p>
        <span class="label">last name:</span>
        <p class="value">{{user.lastName}}</p>

        <span class="label">Titles</span>
        <p class="value">Lead Engineer (April 02, 2016-Present)</p>
        <p class="value">Engineer(May 15,2010 - April 02, 2016)</p>

        <span class="label">Employment type</span>
        <p class="value">Full Time</p>
      </mat-tab>


      <mat-tab label="Messages">
          <h4> Description</h4>
         <app-member-messages [userId]="user.id"></app-member-messages>
      </mat-tab>

      <mat-tab label="Goals">
        <h4> Description</h4>
        <p> {{user.interest}}</p>
      </mat-tab>
      <mat-tab label="Vacation Calendar (PTO)">
        <h4> Description</h4>
        <p> {{user.interest}}</p>
      </mat-tab>
      <mat-tab label="Teams">
        <h4> Description</h4>
        <p> {{user.interest}}</p>
      </mat-tab>
      <mat-tab label="Resources">
        <h4> Description</h4>
        <p> {{user.interest}}</p>
      </mat-tab>

    </mat-tab-group>




    <!-- <div>
          <p class="label">first name:</p>
          <p class="value">{{user.firstName}}</p>
      </div>
      <div>
          <span class="label">last name:</span>
          <p class="value">{{user.lastName}}</p>
      </div>
      <div>
        <span class="label">Titles</span>
        <p class="value">Lead Engineer (April 02, 2016-Present)</p>
        <p class="value">Engineer(May 15,2010 - April 02, 2016)</p>

      </div>
      <div>
        <span class="label">Employment type</span>
        <p class="value">Full Time</p>
      </div> -->


  </div>



  <div>



    <!-- <div>
        <span class="label">TIME AT COMPANY</span>
        <p class="value">{{user.firstName}}</p>
      </div> -->
    <!-- <div>
        <span class="label">Fun fact</span>
        <p class="value">{{user.introduction}}</p>
      </div>

      <div>
        <span class="label">Last Active:</span>
        <p class="value">{{user.lastActive | timeAgo}}</p>
      </div>

      </div>


  <!-- <mat-card class="grid-item"> -->







    <!-- <mat-card-header class="header-image">
      <div mat-card-avatar class="example-header-image"></div> -->
    <!-- <mat-card-title>{{user.firstName}} {{user.lastName}}</mat-card-title> -->
    <!-- <p>
        <img class="profile-image" src="{{user.photoUrl ? user.photoUrl : '../../../assets/user.png'}}" alt="{{user.firstName}}">
      </p> -->
    <!-- </mat-card-header> -->
    <!-- <p> 
    <img class="profile-image" src="{{user.photoUrl ? user.photoUrl : '../../../assets/user.png'}}" alt="{{user.firstName}}">
    </p> -->

    <!-- <mat-card-content class="content"> -->

    <!-- <div>
        <span class="label">full name:</span>
        <p class="value">{{user.firstName}} {{user.lastName}}</p>
      </div>
      <div>
        <span class="label">CURRENT ROLE</span>
        <p class="value">{{user.currentRole}}</p>
      </div>

      <div>
        <span class="label">EMAIL</span>
        <p class="value">{{user.email}}</p>
      </div>

      <div>
        <span class="label">Office</span>
        <p class="value">{{user.telephoneNumber}}, Extension: {{user.extension}}</p>
      </div>
      <div>
        <span class="label">Cellular</span>
        <p class="value">{{user.cellular}}</p>

      </div> -->

    <!-- <div>
        <span class="label">TIME AT COMPANY</span>
        <p class="value">{{user.firstName}}</p>
      </div> -->
    <!-- <div>
        <span class="label">Fun fact</span>
        <p class="value">{{user.introduction}}</p>
      </div>

      <div>
        <span class="label">Last Active:</span>
        <p class="value">{{user.lastActive | timeAgo}}</p>
      </div>

    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card> -->



    <!-- <div class="grid-item2">

    <mat-tab-group>
      <mat-tab label="About {{user?.knownAs}}">
        <h4> Description</h4>
        <p> {{user.introduction}} </p>
        <h4> Looking For</h4>
        <p> {{user.lookingFor}}</p>
      </mat-tab>

      <mat-tab label="Interest">
        <h4> Description</h4>
        <p> {{user.interest}}</p>
      </mat-tab> -->


    <!-- <div class="row">
          <div class="col-sm-4">
            <div class="panel panel-default">
              <img class="profile-image thumbnail" src="{{user.photoUrl ? user.photoUrl : '../../../assets/user.png'}}" alt="{{user.firstName}}">
              <div class="panel-body">
                <div>
                  <strong> Location:</strong>
                  <P>{{user.city}}, {{user.country}} </P>
                </div>
                <div>
                  <strong> Age:</strong>
                  <P>{{user.age}} </P>
                </div>
                <div>
                  <strong>Last Active:</strong>
                  <p>{{user.lastActive | timeAgo}}</p>
                </div>
                <div>
                  <strong> Location:</strong>
                  <P>{{user.city}}</P>
                </div>
                <div>
                  <strong> Member Since:</strong>
                  <P>{{user.created | date:'mediumDate'}} </P>
                </div>
              </div>
              <div class="panel-footer">
                <div class="btn-group-justified"></div>
                <div class="btn-group">
                  <button class="btn btn-primary">Like</button>
                </div>
                <div class="btn-group">
                  <button class="btn btn-success"(click)="selectTab(3)">Message</button>
                </div>
              </div>
            </div>
      
          </div>
      
      
          <mat-tab-group>
              <mat-tab label="About {{user?.knownAs}}">
                  <h4> Description</h4>
                  <p> {{user.introduction}} </p>
                  <h4> Looking For</h4>
                  <p> {{user.lookingFor}}</p>
              </mat-tab>
      
              <mat-tab label="Interest">
                  <h4> Description</h4>
                  <p> {{user.interest}}</p>
              </mat-tab> -->


    <!-- <mat-tab label="Photos">
                
                  <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
              
              </mat-tab> -->


    <!-- <mat-tab label="Messages">
        <app-member-messages [userId]="user.id"></app-member-messages>
      </mat-tab>
    </mat-tab-group>


  </div> -->
    <!-- <div id="inner-grid">
    <div>
      
      
    </div>
    <div>5</div>
    <div>6</div>
    <div>7</div>
    <div>8</div>
  </div> -->

  </div>














  <!-- <div class="container">


  <div class="row"> -->




  <!-- <div class="col-sm-4">
      <div class="panel panel-default">
        <img class="profile-image thumbnail" src="{{user.photoUrl ? user.photoUrl : '../../../assets/user.png'}}" alt="{{user.firstName}}">
        <div class="panel-body">
          <div>
            <strong> Location:</strong>
            <P>{{user.city}}, {{user.country}} </P>
          </div>
          <div>
            <strong> Age:</strong>
            <P>{{user.age}} </P>
          </div>
          <div>
            <strong>Last Active:</strong>
            <p>{{user.lastActive | timeAgo}}</p>
          </div>
          <div>
            <strong> Location:</strong>
            <P>{{user.city}}</P>
          </div>
          <div>
            <strong> Member Since:</strong>
            <P>{{user.created | date:'mediumDate'}} </P>
          </div>
        </div>
        <div class="panel-footer">
          <div class="btn-group-justified"></div>
          <div class="btn-group">
            <button class="btn btn-primary">Like</button>
          </div>
          <div class="btn-group">
            <button class="btn btn-success"(click)="selectTab(3)">Message</button>
          </div>
        </div>
      </div> -->

  <!-- </div> -->

  <!-- 
  <mat-tab-group>
    <mat-tab label="About {{user?.knownAs}}">
      <h4> Description</h4>
      <p> {{user.introduction}} </p>
      <h4> Looking For</h4>
      <p> {{user.lookingFor}}</p>
    </mat-tab>

    <mat-tab label="Interest">
      <h4> Description</h4>
      <p> {{user.interest}}</p>
    </mat-tab> -->


  <!-- <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <img class="profile-image thumbnail" src="{{user.photoUrl ? user.photoUrl : '../../../assets/user.png'}}" alt="{{user.firstName}}">
        <div class="panel-body">
          <div>
            <strong> Location:</strong>
            <P>{{user.city}}, {{user.country}} </P>
          </div>
          <div>
            <strong> Age:</strong>
            <P>{{user.age}} </P>
          </div>
          <div>
            <strong>Last Active:</strong>
            <p>{{user.lastActive | timeAgo}}</p>
          </div>
          <div>
            <strong> Location:</strong>
            <P>{{user.city}}</P>
          </div>
          <div>
            <strong> Member Since:</strong>
            <P>{{user.created | date:'mediumDate'}} </P>
          </div>
        </div>
        <div class="panel-footer">
          <div class="btn-group-justified"></div>
          <div class="btn-group">
            <button class="btn btn-primary">Like</button>
          </div>
          <div class="btn-group">
            <button class="btn btn-success"(click)="selectTab(3)">Message</button>
          </div>
        </div>
      </div>

    </div>


    <mat-tab-group>
        <mat-tab label="About {{user?.knownAs}}">
            <h4> Description</h4>
            <p> {{user.introduction}} </p>
            <h4> Looking For</h4>
            <p> {{user.lookingFor}}</p>
        </mat-tab>

        <mat-tab label="Interest">
            <h4> Description</h4>
            <p> {{user.interest}}</p>
        </mat-tab> -->


  <!-- <mat-tab label="Photos">
          
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
        
        </mat-tab> -->


  <!-- <mat-tab label="Messages">
      <app-member-messages [userId]="user.id"></app-member-messages>
    </mat-tab>
  </mat-tab-group> -->

  <!-- <div class="col-sm-8">
    <div class="tab-panel">
      <tabset class="memeber-tabset" #memberTabs>
        <tab heading="About {{user?.knownAs}}">
          <h4> Description</h4>
          <p> {{user.introduction}} </p>
          <h4> Looking For</h4>
          <p> {{user.lookingFor}}</p>
        </tab>
        <tab heading="Interest">
          <h4> Description</h4>
          <p> {{user.interest}}</p>
        </tab>
        <tab heading="Photos">
          <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
        </tab>
        <tab heading="Messages">
          <app-member-messages [userId]="user.id"></app-member-messages>
        </tab>
      </tabset>

    </div>

  </div> -->

  <!-- </div>
<div> -->
