.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.signinButton {
  background-color: #9d65ff;
  color: white;;
  border-radius: 12px;
}

.signinButton:hover {
  background-color: #9d64ff;
  color: white;
}
.cancelButton {
  background-color: #ff425b;
  color: #ffffff;
  border-radius: 12px;
}
.cancelButton:hover {
  background-color: #fc6a7e;
  color: white;
}

.title {
  width: 100%;
  float: left;
  line-height: 46px;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #673ab7;
  position: relative;
}
