
img{
    max-height:50px;
    border:2px solid white;
    display:inline;
    border-radius: 50%;
   
}

.example-spacer {
    flex: 1 1 auto;
  }

  .short-spacer {
    flex-basis: 10px;
  }

  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }

  mat-form-field.mat-form-field {
    font-size: 14px;
  }

  a:link, a:visited {
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


.signin, .register {
  background-color: white;
  color: black;
  border: 2px solid white;
  text-align: center;
  border: none;
  color: white;
  padding: 4px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 5px;
  cursor: pointer;
}

.signinButton {background-color: #e7e7e7; color: black; border-radius: 12px; } /* Gray */ 
.registerButton {background-color: #555555; border-radius: 12px;} /* Black */

.signinButton:hover {
  background-color:  #008CBA;
  color: white;
}
.registerButton:hover {
  background-color:   #363636;
  color: white;
}


.dtg {
  fill:white;
}