.panel-primary {
    border: none;
}

.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #b3a9a9;
}

.img-circle {
    height: 50px;
    width: 50px;
}

.panel-body {
    overflow-y: scroll;
    height: 400px;
    width: 700px;
}




#outer-grid {
    display: grid;
    grid-template-rows: 3em 10em 10em 10em;
    grid-template-columns: 10em 40em;
    grid-gap: 5px;
    border: solid 4px black;
  }

  .grid-row1 {
    padding: 1em;
    text-align: center;
    margin: 0.5em 0;
    grid-column: 1/4;
    grid-row: 1/1;
    background-color: plum;
  }

  .grid-row2 {
    padding: 1em;
    text-align: center;
    margin: 0.5em 0;
    grid-column: 1/3;
    grid-row: 2/4;
    background-color:green;
  }