/* .panel-body {
  padding: 5px;
}
panel.image {
  width: 100%;
}

h5 {
  font-size: 16px;
  font-weight: 700;
  color: #c3c6ce;
  margin-top: 1px;
  margin-bottom: 1px;
}

h5 small {
  font-weight: bold;
  font-size: 12px;
  font-style: italic;
}

img {
  width: 150px;
  transform: scale(1, 1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;

}

.panel:hover img {
  transform: scale(1.2, 1.2);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  opacity: 0.7;
}

.panel-image {
  overflow: hidden;
  position: relative;
}

.member-icons {
  position: absolute;
  bottom: -30%;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  opacity: 0;
}

.panel:hover .member-icons{

  bottom:0;
  opacity: 1;
}

.animate{
  transition: all 0.3s ease-in-out;
} */

.panel-image {
  overflow: hidden;
  position: relative;
}


img {
  width: 150px;
  /* transform: scale(1, 1);
  transition-duration: 500ms; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}



/* mat-card.example-card.mat */

/* .example-card {
  min-width: 180px;
  min-height: 20px;

} */
/* 
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
} */


.example-card {
  max-width: 300px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

