.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 70%;
  }


.signinButton {
  background-color: #9d65ff;
  color: white;;
  border-radius: 12px;
}

.signinButton:hover {
  background-color: #9d64ff;
  color: white;
}
.cancelButton {
  background-color: #ff425b;
  color: #ffffff;
  border-radius: 12px;
}
.cancelButton:hover {
  background-color: #fc6a7e;
  color: white;
}

.title {
  width: 100%;
  float: left;
  line-height: 46px;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #673ab7;
  position: relative;
}

.mat-radio-inner-circle {
  background-color: yellow;
}

 .mat-radio-checked .mat-radio-outer-circle {
  border-color: lime;
}
